/* media queries  here*/
@media (min-width:1px) and (max-width: 550px) {
    #logo {
        border-radius: 5px;
        width: 90px;
    }
    .footer-icon {
        border-radius: 5px;
        width: 120px;
        height: fit-content;
    }
}