/* media queries  here*/
@media (min-width:1px) and (max-width: 550px) {
#logo {
border-radius: 5px;
width: 90px;
}
#frasco {
width: 116px;
height: auto;
align-items: center;
}
.footer-icon {
border-radius: 5px;
width: 120px;
height: fit-content;
}
}
/*<!---  Carruel  content --->*/
.carousel-inner{
 max-height:40rem;
}
/*<!--- GRID content --->*/
.col{
padding: 5px;
margin: 5px;
border: 3px solid black;
}
#frasco{
width: 300px;
height: auto;
align-items: center;
}
/*<!--- Footer content --->*/
